
.temp{
      font-size: 800%;
}

#container {
      display: inline-block;
      background-color: green;
      padding: 0.5vw 1vw;
  }

  .div-text {
      font-size: 6vw;
  }
  .div-text-small{
      font-size: 80%;
  }

  .div-text-medium{
    font-size: 100%;
}

  .border-day{
      border-inline-end-style: solid ;
      border-inline-end-width: 1px;
  }
  
  /* Auto completed address Suggestions */
  .autocomplete-container {
    position: relative;
    border: 1px solid #4C35BD;
    background: #4C35BD;
    text-align: center;
    padding-right: 2%;
}

.wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .day-forecast{
    color: #4C35BD;
    font-size: 14px;
  }
