{% extends "layout.html" %}

{% block navigation %}
<nav class="navbar has-background-link-light role=" navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ url_for('home') }}">
      <img src=" {{ url_for('static', filename='img/html/logo_forecast.png' ) }}" />
    </a>
    <a class="navbar-item" href="{{ url_for('home') }}">
      <strong class="is-uppercase">Forecast</strong>
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="ForecastNavbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="ForecastNavbar" class="navbar-menu">
    <div class="navbar-start">

      <a class="navbar-item" href="{{ url_for('about') }}"> About this project </a>

      <a class="navbar-item" href="{{ url_for('contact') }}"> Contact </a>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<section class="section">
  <div class="container has-text-centered">
    <div class="columns is-flex-wrap-wrap">
      <div class="column is-two-fifths">
        <div>
          <figure class="image">
            <img class="has-ratio" width="1280" height="720"
              src="{{ url_for('static', filename='img/html/walpaper.png') }}">
          </figure>
        </div>
      </div>

      <div class="column">
        <div>
          <h1 class="title">Forecast</h1>
          <h2 class="subtitle">Your Weather Companion</h2>
          <p>
            Welcome to Forecast, your go-to web app for current and forecast weather
            information. Enter any location, and get real-time weather updates and
            future forecasts.
          </p>
        </div>
        <form id="locationForm" action="{{ url_for('search') }}" method="post">
          <div class="field is-grouped mt-5 is-flex is-align-items-center">
            <div class="control is-expanded">
              <div id="autocomplete" class="address-field autocomplete-container"></div>
              <input type="hidden" id="selectedCityName" name="cityName">
              <input type="hidden" id="selectedCityLat" name="cityLat">
              <input type="hidden" id="selectedCityLon" name="cityLon">
            </div>
            <div class="control">
              <button id="locationForm" type="submit" class="button is-warning">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<script>
  const Geo_API = "{{ API_KEY_GEO }}";
</script>
<script src="{{ url_for('static', filename='script.js')}}"></script>

{% endblock %}