{% extends "layout.html" %}

{% block navigation %}
<nav class="navbar has-background-link-light role=" navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-align-content-end" href="{{ url_for('home') }}">
      <span class="icon is-small" style="margin-inline-end: 10px;"><i class="fa fa-home"></i></span>
      <p class="is-bold">Return to home page</p>
    </a>
  </div>
</nav>
{% endblock %}

{% block content %}

<div class="container">

  <!-- Weather view -->
  <div id="weather-tab-content">

    <div class="container">

      <section class="hero is-small">
        <div class="hero-body">
          <div class="columnn is-flex is-justify-content-center is-align-content-center">
            <div class="column">
              <div class="columns has-background-link-dark has-text-white has-text-weight-bold">
                <div class="column is-flex is-justify-content-right">
                  <div class="column">
                    <div class="columns has-text-center">
                      <div class="column div-text-small"><span class="icon is-small"><i
                            class="fa fa-location-dot "></i></span>
                        <span class="div-text-medium">{{location.name}}</span>
                      </div>
                      <div class="column is-one-fifth div-text-small"><span class="icon is-small"
                          style="margin-inline-end: 10px;"><i class="fa fa-calendar-days"></i></span>
                        <span>{{ data['current']['dt'] | format_datetime(data["timezone"], 'date')}}</span>
                      </div>
                      <div class="column is-one-fifth div-text-small"><span class="icon is-small"><i
                            class="fa fa-clock"></i></span>
                        <span>{{ data['current']['dt'] | format_datetime(data["timezone"], 'hour') }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <section class="hero is-small">
                <div class="column">
                  <div class="columns mt-3 is-flex is-align-items-center">
                    <div class="column is-half has-text-right border-day">
                      <div class="m-auto div-text">
                        <p>{{data['current']['temp']|round }}°C</p>
                      </div>

                    </div>
                    <div class="column is-flex is-align-items-end">
                      <div class="is-justify-content-center">
                        <p class="div-text-small">Precipitation :<i
                            style="margin-inline-end: 10px;"></i></span>{{data["hourly"][0]["pop"]* 100 |round(1) }}%
                        </p>
                        <p class="div-text-small">Humidity :<i
                            style="margin-inline-end: 10px;"></i></span>{{data["hourly"][0]["humidity"] |round(1) }}%
                        </p>
                        <p class="div-text-small">Wind : <i
                            style="margin-inline-end: 10px;"></i></span>{{data["hourly"][0]["wind_speed"] |
                          convert_mps_to_kph}} km/h</p>
                      </div>
                    </div>
                  </div>
                  <div class="columns is-vcentered is-flex is-align-items-center">
                    <div class="column is-half is-flex is-justify-content-right">
                      <figure class="image is-64x64">
                        <img
                          src="{{ url_for('static', filename='img/weather-icon/' + data['current']['weather'][0]['icon'] + '@2x.png') }}"
                          alt="Weather Icon" />
                      </figure>
                    </div>
                    <div class="column is-flex is-align-items-left is-justify-content-left">
                      <p class="has-text-centered div-text-small border-last has-text-weight-bold">{{ data['current']['weather'][0]['description'] }}</p>
                    </div>
                  </div>
              </section>
              <div class="columns mt-3 has-background-link-dark">
                <p><strong class="div-text-medium has-text-white m-5">5-Days Forecast</strong></p>
              </div>
              <div class="columns has-background-link-light">
                <div class="column border-day">
                  <p class="day-forecast"><strong>Tomorrow</strong></p>
                  <div class="is-flex is-justify-content-center ">
                    <div class="image is-64x64">
                      <img
                        src="{{ url_for('static', filename='img/weather-icon/' + data['daily'][1]['weather'][0]['icon'] + '@2x.png') }}"
                        alt="Weather Icon" />
                    </div>
                  </div>
                  <div class="columns">
                    <div class="column is-half">
                      <p class="has-text-centered div-text-small">{{ data['daily'][1]['weather'][0]['description']
                        }}</p>
                    </div>
                    <div class="column is-flex is-align-items-center is-justify-content-center">
                      <p class="has-text-centered div-text-small">
                        <span class="has-text-grey-light">{{data['daily'][1]['temp']['min']|round }}°</span> | <span class="has-text-grey has-text-weight-semibold" >{{data['daily'][1]['temp']['max']|round }}°</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="column border-day">
                  <p class="day-forecast"><strong>{{ data['daily'][2]['dt'] | format_datetime(data["timezone"], 'date') }}</strong></p>
                  <div class="is-flex is-justify-content-center ">
                    <div class="image is-64x64">
                      <img
                        src="{{ url_for('static', filename='img/weather-icon/' + data['daily'][2]['weather'][0]['icon'] + '@2x.png') }}"
                        alt="Weather Icon" />
                    </div>
                  </div>
                  <div class="columns">
                    <div class="column is-half ">
                      <p class="has-text-centered div-text-small">{{ data['daily'][2]['weather'][0]['description']
                        }}</p>
                    </div>
                    <div class="column is-flex is-align-items-center is-justify-content-center">
                      <p class="has-text-centered div-text-small">
                        <span class="has-text-grey-light">{{data['daily'][2]['temp']['min']|round }}°</span> | <span class="has-text-grey has-text-weight-semibold" >{{data['daily'][2]['temp']['max']|round }}°</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="column border-day">
                  <p class="day-forecast"><strong>{{ data['daily'][3]['dt'] | format_datetime(data["timezone"], 'date') }}</strong></p>
                  <div class="is-flex is-justify-content-center ">
                    <div class="image is-64x64">
                      <img
                        src="{{ url_for('static', filename='img/weather-icon/' + data['daily'][3]['weather'][0]['icon'] + '@2x.png') }}"
                        alt="Weather Icon" />
                    </div>
                  </div>
                  <div class="columns">
                    <div class="column is-half">
                      <p class="has-text-centered div-text-small">{{ data['daily'][3]['weather'][0]['description']
                        }}</p>
                    </div>
                    <div class="column is-flex is-align-items-center is-justify-content-center">
                      <p class="has-text-centered div-text-small">
                        <span class="has-text-grey-light">{{data['daily'][3]['temp']['min']|round }}°</span> | <span class="has-text-grey has-text-weight-semibold" >{{data['daily'][3]['temp']['max']|round }}°</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="column border-day">
                  <p class="day-forecast"><strong>{{ data['daily'][4]['dt'] | format_datetime(data["timezone"], 'date') }}</strong></p>
                  <div class="is-flex is-justify-content-center ">
                    <div class="image is-64x64">
                      <img
                        src="{{ url_for('static', filename='img/weather-icon/' + data['daily'][4]['weather'][0]['icon'] + '@2x.png') }}"
                        alt="Weather Icon" />
                    </div>
                  </div>
                  <div class="columns">
                    <div class="column is-half">
                      <p class="has-text-centered div-text-small">{{ data['daily'][4]['weather'][0]['description']
                        }}</p>
                    </div>
                    <div class="column is-flex is-align-items-center is-justify-content-center">
                      <p class="has-text-centered div-text-small">
                        <span class="has-text-grey-light">{{data['daily'][4]['temp']['min']|round }}°</span> | <span class="has-text-grey has-text-weight-semibold" >{{data['daily'][4]['temp']['max']|round }}°</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="column border-last">
                  <p class="day-forecast"><strong>{{ data['daily'][5]['dt'] | format_datetime(data["timezone"], 'date') }}</strong></p>
                  <div class="is-flex is-justify-content-center ">
                    <div class="image is-64x64">
                      <img
                        src="{{ url_for('static', filename='img/weather-icon/' + data['daily'][5]['weather'][0]['icon'] + '@2x.png') }}"
                        alt="Weather Icon" />
                    </div>
                  </div>
                  <div class="columns">
                    <div class="column is-half">
                      <p class="has-text-centered div-text-small">{{ data['daily'][5]['weather'][0]['description']
                        }}</p>
                    </div>
                    <div class="column is-flex is-align-items-center is-justify-content-center">
                      <p class="has-text-centered div-text-small">
                        <span class="has-text-grey-light">{{data['daily'][5]['temp']['min']|round }}°</span> | <span class="has-text-grey has-text-weight-semibold" >{{data['daily'][5]['temp']['max']|round }}°</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </section>
    </div>
  </div>

</div>

<script>
  function switchToWeather() {
    removeActive();
    hideAll();
    $("#weather-tab").addClass("is-active");
    $("#weather-tab-content").removeClass("is-hidden");
  }

  function switchToSettings() {
    removeActive();
    hideAll();
    $("#settings-tab").addClass("is-active");
    $("#settings-tab-content").removeClass("is-hidden");
  }

  function removeActive() {
    $("li").each(function () {
      $(this).removeClass("is-active");
    });
  }

  function hideAll() {
    $("#weather-tab-content").addClass("is-hidden");
    $("#settings-tab-content").addClass("is-hidden");
  }

</script>


{% endblock %}